doctype html 
html(lang='es')
    head 
        title='Sistema de Guias | Recuperar contraseña'
        meta(charset='utf-8')
        style.
            .container-email{
                max-width: 465px;
                margin: 0 auto;
                width: 100%;
                padding: 14px;
                background-image: url(#{fondoPlantilla});
                background-repeat: no-repeat;
                background-size:cover;
                text-align: center;
            }
    body 
        .container-email
            img(src=`${endpointBackend}/public/img/logo.png` alt="Sugas" style="max-width: 250px; max-height: 300px; background-size: cover;")
            h2 Sistema Unico de Gestion de Guias Sena
            h3: strong Enlace de recuperación de contraseña
            div(style="width: 100%; text-align: left;")
                p Hola señor@ #{nombres}
                p: strong: a(href=linkRecuperacion) Recuperar contraseña
                p Dale click al enlace para cambiar la contraseña, Este enlace sera valido por 1 dia.
            small El equipo de Sistema Unico de Gestion de Guias

